.c1 {
  padding: 20px;
  width: 100%;
  color: rgb(243, 213, 44);
  background-color: black;
}
@media(min-width: 700px) {
  .c1 {
    padding: 30px;
    font-size: 1.5em;
  }
}
@media(min-width: 1000px) {
  .c1 {
    padding: 40px;
    font-size: 2em;
  }
}
