!!!5
%html
  %head
    %meta(charset="utf-8")
    %title Desafio 2 html 3
    %link(rel="stylesheet" type="text/css" href="css/estilos.css")
  %body
    %div(class="general")
      %aside
        %figure
          %img(src="img/logo.png" alt="logo" title="logo")
        %nav
          %ul
            %li
              %a(href="#") Inicio
            %li
              %a(href="#") Portafolio
            %li
              %a(href="#") Sobre mi
            %li
              %a(href="#") Contacto
      %section(class="galeria")
        %div(class="contenedor")
          %article(class="Proy1")
            %div(class="galeria-contenedor-imagen")
              %img(src="img/proyecto-1.jpg" alt="proy1" title="proy1")
            %p Tarjeta de Presentacion
          %article(class="Proy2")
            %div(class="galeria-contenedor-imagen")
              %img(src="img/proyecto-2.jpg" alt="proy2" title="proy2")
            %p tarjeta de Presentacion
          %article(class="Proy3")
            %div(class="galeria-contenedor-imagen")
              %img(src="img/proyecto-3.jpg" alt="proy3" title="proy3")
            %p Papeleria Corporativa
          %article(class="Proy4")
            %div(class="galeria-contenedor-imagen")
              %img(src="img/proyecto-4.jpg" alt="proy4" title="proy4")
            %p Sitio web responsive