.todas-las-cajas {
  display: grid;
  grid-template-rows: repeat(4, 200px);
  grid-template-columns: repeat(3, auto);
  grid-row-gap: 20px;
  grid-column-gap: 10px;
}

.todas-las-cajas .cajitas:nth-child(1) {
  background: #3b5999;
  grid-column: 1/3;
}

.todas-las-cajas .cajitas:nth-child(2) {
  background: #0084ff;
  grid-column: 3/4;
}

.todas-las-cajas .cajitas:nth-child(3) {
  background: #FFFC00;
  grid-column: 1/2;
  grid-row: 2/5;
}

.todas-las-cajas .cajitas:nth-child(4) {
  background: #ff6600;
  grid-column: 2/4;
  grid-row: 2/4;
}

.todas-las-cajas .cajitas:nth-child(5) {
  background: #00b489;
  grid-column: 2/3;
}

.todas-las-cajas .cajitas:nth-child(6) {
  background: #131418;
  grid-column: 3/4;
}
