* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: sans-serif;
}

.flex-container {
  padding: 2%;
  width: 80%;
  height: auto;
  background: #647687;
  margin: auto;
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  width: 300px;
  height: auto;
  background: #f0a30a;
  padding: 10px;
  margin: 15px;
  text-align: center;
  font-size: 40px;
  color: #fff;
  flex-basis: 30%;
  border: 1px solid #404647;
  transition: 0.2s ease-in-out;
}

.flex-item:nth-child(2) {
  background: #1ba1e2;
  flex-basis: 50%;
}

.flex-item:nth-child(3) {
  background: #0050ef;
}

.flex-item:nth-child(4) {
  background: #6a00ff;
}

.flex-item:nth-child(5) {
  background: #e51400;
}

.flex-item:nth-child(6) {
  background: #fa6800;
}

.flex-item:hover {
  transform: scale(1.15);
}
