!!!5
%html
  %head
    %meta(charset="utf-8")
    %title Desafio 2 html 3
    %link(rel="stylesheet" type="text/css" href="css/main.css")
  %body
    %header
      %figure
        %img(id="imglogo" src="img/logo.png" alt="logo" title="logo")
      %nav
        %ul
          %li
            %a(href="#") Inicio
          %li
            %a(href="#") Portafolio
          %li
            %a(href="#") Sobre mi
          %li
            %a(href="#") Contacto
    %section(class="galeria")
      %div(class="galeria-nombre")
        %h1(class="galeria-nombre-p") Portafolio
      %div(class="galeria-contenedor")
        %article(class="galeria-contenedor-articulo1")
          %div(class="galeria-contenedor-articulo1-imagen1")
            %a(href="#")
              %img(id="imgport" src="img/proyecto-1.jpg" alt="proy1" title="proy1")
              %div(class="galeria-contenedor-articulo1-imagen1-p1")
                %p(id="p1") Tarjeta de Presentacion
              %div(class="oculto1")
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        %article(class="galeria-contenedor-articulo1")
          %div(class="galeria-contenedor-articulo1-imagen1")
            %a(href="#")
              %img(id="imgport" src="img/proyecto-2.jpg" alt="proy2" title="proy2")
              %div(class="galeria-contenedor-articulo1-imagen1-p2")
                %p(id="p1") Tarjeta de Presentacion
              %div(class="oculto2")
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        %article(class="galeria-contenedor-articulo1")
          %div(class="galeria-contenedor-articulo1-imagen1")
            %a(href="#")
              %img(id="imgport" src="img/proyecto-3.jpg" alt="proy3" title="proy3")
              %div(class="galeria-contenedor-articulo1-imagen1-p3")
                %p(id="p1") Papeleria Corporativa
              %div(class="oculto3")
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        %article(class="galeria-contenedor-articulo1")
          %div(class="galeria-contenedor-articulo1-imagen1")
            %a(href="#")
              %img(id="imgport" src="img/proyecto-4.jpg" alt="proy4" title="proy4")
              %div(class="galeria-contenedor-articulo1-imagen1-p4")
                %p(id="p1") Sitio web responsive
              %div(class="oculto4")
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod